body{
	background-color: gray !important;
}
.social-update-social-activity{
	background-color: cyan !important;
	color: green;
}

/*boxes in feed*/
.feed-shared-update-v2{
	background-color: magenta !important;
	color: black;
}

/*who you are*/
.feed-identity-module{
	background-color: yellow !important;
}

/*left side follow stuff*/
.left-rail-container, .right-rail-container{
	background-color: green !important;
}

/*news area*/
.feed-shared-news-module{
	background-color: black !important;
	color: white;
}